
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
}

body{
    background-color: #F4F6FA;
    background-image: url(./images/pattern-background-desktop-light.svg);
    min-height: 100vh;
    background-image: cover;
    width: 100%;
    padding: 100px;
}

    .header{
        display: flex;
        margin-bottom: 50px;
        margin-right: 30px;
        justify-content: space-between;
    }

#name-of-subject{
    font-size: 30px;
    font: 300;
    font-weight: 500;
}

.subject{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.subject p{
    font-size: 40px;
    font-weight: 500;
}

#my-countdown{
    font: 500;
    font-weight: 600;
    font-size: 50px;
    color: red;

}

.hero{
    display: flex;
    justify-content: space-between;
    padding:30px;
}

.question-col{
    width: 60%;
    margin-top: 70px;
}

.question-col #welcome{
    font-size: 60px;
    font-weight: 100;
    color: #5c5c5c;
    line-height: 50px;
    letter-spacing: 1px;
}

#question-col-red{
    color: red;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 1px;
    padding:20px
}

#question-col-p{
    font-size: 60px;
    font-weight: 500;
    color: #070707;
    letter-spacing: 1px
}
.question-col h5{
    font-style: italic;
    font-weight: 400;
    margin-top: 40px;
    color: #5c5c5c;
    margin-left: 15px;
    font-size: 20px;

}
.answer-col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    top: 50px;
}

#css-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    top: 1px;
    text-decoration: none;
}

.answer-col img{
    padding-left: 20px;
    padding-right:20px;
    width: 70px;
}

.answer-col1{
    display: flex;
    align-items: center;
}

#answer-buttons{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    top: 20px;
}

#css-answer-buttons{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    top: 20px;
}

.btn{
    cursor: pointer;
    margin-bottom: 15px;
    height: 150px;
    font-family: 'rubik';
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    color: #5c5c5c;
    padding: 30px;
    transition:0.2s;
}

.btn:hover:not([disabled]){
    color: #A729F5;
    border: 5px solid #A729F5;
}



.btn1{
    cursor: pointer;
    margin-bottom: 15px;
    height: 80px;
    font-family: 'rubik';
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.subject{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 130px; */
}

#question{
    font-size: 35px;
    font-weight: 500;
    color: #5c5c5c;
    margin-top: 20px;
}

#cssquestion{
    font-size: 35px;
    font-weight: 500;
    color: #5c5c5c;
    margin-top: 20px;
}

.btn2{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    height: 80px;
    font-family: 'rubik';
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    color: #5c5c5c;
    padding-left: 20px;
}

.btn2:hover{
    border: 3px #A729F5 solid;
    transition: 0.1s;
}

.btn2 p{
    padding-left: 20px;
    padding-right: 20px;
    color: #5c5c5c;
}

.btn2 p:hover{
    color: #A729F5;
    transition: 1s;
}

.next-button{
    display: flex;
    justify-content: space-between;
}

#next-btn{
    background-color:#A729F5;
    color: #fff;
    border: none;
    outline: none;
    height: 80px;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-right: 20px;
}

#next-btn:hover{
    background-color: #ccc;
    transition:0.2s ;
}

.correct{
    background:#9aeabc;
}

.incorrect{
    background: #ff9393;
}

.btn11{
    padding: 30px;
    text-align: center;
    background: #A729F5;
    transition: 0.1s;
    color: #fff;
    background-color:#A729F5;
    border: none;
    outline: none;
    height: 80px;
    width: 200px;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.btn11:hover{
    background-color: #ccc;
    transition:0.3s;
}

#signup-form{
    display: flex;
    flex-direction:column;

}

#signup-name{
    text-align: center;
    font: 500;
    font-size: 50px;
    padding-bottom: 20px;
    color: #A729F5;
}

#signup-form p{
    text-align: center;
    margin-top: 15px;
}

#login-form p{
    text-align: center;
    margin-top: 15px;
}

#username{
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 20px;
    font-size:20px;
}

#password{
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 20px;
    font-size:20px;
}


#signup-form button{
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size:20px;
    background-color: #A729F5;
    color: #fff;
    font-weight: 500;
}

#signup-form button:hover{
    background-color: #ccc;
    color:#5c5c5c;
}

#login-form{
    display: flex;
    flex-direction: column;
}

#login-form button{
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size:20px;
    background-color: #A729F5;
    color: #fff;
    font-weight: 500;
}

#login-form button:hover{
    background-color: #ccc;
    color:#5c5c5c;
}

@media (max-width:900px){
    body{
        margin: 0px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        align-items: center;
        
    }

    .answer-col{
        align-items: center;
        width: 30px;
        height: 100px;
    }

    .btn1{
        cursor: pointer;
        margin-bottom: 15px;
        height: 80px;
        font-family: 'rubik';
        border-radius: 20px;
        width: 250px;
        height: 100px;
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .header .subject{
        font: 100;
    }

    .question-col{
        width: 50px;
        margin-top: 19px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header{
        display: flex;
        margin-bottom: 50px;
        margin-right: 30px;
        flex-direction: column;
    }

    .header div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .btn{
        cursor: pointer;
        margin-bottom: 15px;
        height: 150px;
        font-family: 'rubik';
        border-radius: 10px;
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 20px;
        width: 300px;
        font-weight: 500;
        color: #5c5c5c;
        transition:0.2s;
    }
        
    .btn:hover:not([disabled]){
        color: #A729F5;
        border: 5px solid #A729F5;
    }

    .correct{
        background:#9aeabc;
    }
    
    .incorrect{
        background: #ff9393;
    }

    .answer-col a{
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 40px;;
        text-decoration: none;;
    }

    #answer-buttons{
        width: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        align-items: center;
    }

    .next-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #next-btn{
        background-color:#A729F5;
        color: #fff;
        border: none;
        outline: none;
        height: 80px;
        font-size: 24px;
        border-radius: 20px;
        font-weight: 500;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin-left:15px ;
    }
    
    #next-btn:hover{
        background-color: #ccc;
        transition:0.2s ;
    }
    
    #question{
        font-size: 35px;
        font-weight: 500;
        color: #5c5c5c;
        margin-top: 20px;
        width: 100px;
    }

    .btn11{
        padding: 30px;
        text-align: center;
        background: #A729F5;
        transition: 0.1s;
        color: #fff;
        background-color:#A729F5;
        border: none;
        outline: none;
        height: 80px;
        width: 200px;
        font-size: 24px;
        border-radius: 20px;
        font-weight: 500;
        margin-top: 50px;
        position: absolute;
        bottom: 0;
        left: 90px;
    }

    #signup-form p{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #login-form p{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}